<ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
    <li class="active">
        <a href="/">
            <i class="glyphicon glyphicon-th-large"></i>
            首页
        </a>
    </li>

    <li>
        <a href="#sqlCheck" class="nav-header collapsed" data-toggle="collapse">
            <i class="glyphicon glyphicon-filter"></i>
             SQL审核与发布
            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul id="sqlCheck" class="nav nav-list collapse secondmenu" style="height: 0px;">
            <li><a href="/index"><i class="glyphicon glyphicon-th-list"></i> 数据查询审核</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> 数据变更审核</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> 数据定义审核</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i> 审核状态查看</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-search"></i> 历史审核查询</a></li>

        </ul>
    </li>

    <li>
        <a href="#padmin" class="nav-header collapsed" data-toggle="collapse">
            <i class="glyphicon glyphicon-compressed"></i>
            生产相关管理
            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul id="padmin" class="nav nav-list collapse secondmenu" style="height: 0px;">
            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> 权限管理</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> 实例管理</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> 上线管理</a></li>
        </ul>
    </li>

    <li>
        <a href="#monitor" class="nav-header collapsed" data-toggle="collapse">
            <i class="glyphicon glyphicon-eye-open"></i>
            监控相关
            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul id="monitor" class="nav nav-list collapse secondmenu" style="height: 0px;">
            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> 监控1</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> 监控2</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> 监控3</a></li>
        </ul>
    </li>

    <li>
        <a href="#tools" class="nav-header collapsed" data-toggle="collapse">
            <i class="glyphicon glyphicon-wrench"></i>
            实用工具
            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul id="tools" class="nav nav-list collapse secondmenu" style="height: 0px;">
            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> 性能评估</a></li>
        </ul>
    </li>

    <li>
        <a href="#admin" class="nav-header collapsed" data-toggle="collapse">
            <i class="glyphicon glyphicon-folder-close"></i>
            文档维护与管理
            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul id="admin" class="nav nav-list collapse secondmenu" style="height: 0px;">
            <li><a href="#"><i class="glyphicon glyphicon-pushpin"></i> 库表定义文档</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-pushpin"></i> 代码规范文档</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-pushpin"></i> 其他相关文档</a></li>
        </ul>
    </li>

    <li>
        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
            <i class="glyphicon glyphicon-cog"></i>
            系统管理
            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
            <li><a href="#"><i class="glyphicon glyphicon-user"></i> 用户管理</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i> 权限管理</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-edit"></i> 修改密码</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i> 日志查看</a></li>
        </ul>
    </li>

    <li>
        <a href="#">
            <i class="glyphicon glyphicon-fire"></i>
            关于系统
        </a>
    </li>
</ul>
